<div class="card-product">
  <img src=<%= image_url %>>
  <div class="card-product-infos">
    <h2><%= link_to cocktail_path(cocktail) do  %>
      <%= title %>
      <% end %><%= title %></h2>
    <p><%= content %></p>
  </div>
</div>
